*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    display: flex;
    background: rgb(217, 252, 252);
    justify-content: space-between;
    padding: 16px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.main div{
    display: flex;
    gap: 8px;
}

img{
    width: 600px;
}

input{
    width: 400px;
    border-radius: 20px;
    height: 30px;
}

button{
    padding: 3px 10px;
    border-radius: 5px;
}

.footer{
    display: flex;
    background: #eee;
    justify-content: space-between;
    padding: 16px;
}

