*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(236, 233, 233);
}

.container{
    display: flex;
    justify-content: space-between;
    background: rgb(239, 239, 233);
}

.child{
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 8px;

}

.child li{
    align-self: center;
    color: purple;
}

#logo{
    font-style: italic;
    font-weight: bold;
}

#notification{
    color: white;
    width: 150px;
    background: purple;
    border-radius: 5px;
    text-align: center;
}

.signup{
    width: 50px;
    height: 50px;
    background: purple;
    border-radius: 30px;
}

h1{
    text-align: center;
    margin: 32px 0;
}

.information{
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
}

.box{
    width: 200px;
}

div img{
    width: 200px;
    margin-bottom: 5px;
}


.information div p{
    text-align: center;
}

.warning{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.warning-box{
    background: #fff;
    display: flex;
    justify-content: space-around;

    padding: 16px;
    border-radius: 10px;
    width: 600px;
    height: auto;
    gap: 5px;
    flex-wrap: wrap;
}

.exclamation{
    width: 50px;
    height: 50px;
    background: rgb(179, 179, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;
    height: 200px;
    
}

.main .warning-main-body{
    display: flex;
}

.warning-main-header{
    display: flex;
    justify-content: space-between;
    
}

.warning-main-header div{
    background: rgb(202, 198, 198);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}

.warning-decision-boxes{
    display: flex;
    justify-content: flex-start;
    gap: 8px;
   
}


.continue, 
.cancel{
    border: 1px black solid;
    padding: 5px 10px;
    border-radius: 5px;

}

.continue{
    background: rgb(82, 82, 243);
    color: #fff;
}